
 .btn.btn-yellow{
     background-color: $yellow;
     color: $dark;
     font-size: .95rem;
     text-transform: none;
     padding: 0.90005rem 1.75rem;
     line-height: 1;
        display: inline-flex;
        align-items: center;
     i{
         margin-left: 0.45rem;
         font-size: 1.5rem;
     }

     &:hover{
         background: darken($yellow, 15);
     }
 }
 .title{
     font-weight: 700;
 }

 .bg-blue{
    background: $blue;
 }

 .fw-bold{
     font-weight: bold;
 }

 .section-title{
     margin-bottom: 3.5rem;
     text-align: center;
     h1,h2{
         font-weight: 700;
         color: $dark;
     }
     h2{
         font-size: 2.333rem;
     }
     .h1{
         font-size: 2.333rem;
     }
 }

 .our-client-slider{
     .item{
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 2rem 0;
         max-height: 120px;
         img{
             max-width: 140px;
         }
     }
 }

 .consult{
    .inner{
        margin-top: 2rem;
        @include mediaq($lg){
            margin-top: 3rem;
            padding-bottom: 10rem;
        }

        @include mediaq($md){
            text-align: center;
        }
        .display-4{
            font-size: 2.5rem;

            @include mediaq($md) {
                font-size: 2rem;
            }
        }
    }
     .bg-light{
         left: 0;
         top: 0;
         bottom: 0;
         right: 50%;
         background: $light-blue !important;
         @include mediaq($md){
             right: 0;
             bottom: 50%;
         }
     }
     &::after{
        position: absolute;
        content: "";
        width: 8rem;
        height: 12rem;
        right: 0;
        top: 4rem;
        background: url(../img/bg-el.svg) no-repeat;
        mix-blend-mode: multiply;
        background-size: contain;
    }
    .bg-el{
        left: 0;
        top: 2rem;
        position: absolute;

        @include mediaq($lg){
            width: 60%;
        }
        @include mediaq($md){
            width: 45%;
            
        }
        @include mediaq($sm){
            width: 45%;
            rect{
                transform: matrix(0.707106, -0.7077, 0.707106, 0.707107, 433, 23.5) scale(2.333);
            }
        }
     }

    }
   

   
     

     .contact-blue{

        
         .form-control{
             background: transparent;
            padding-left: .5rem;
            border-bottom: 1px solid #cefefebb;
            color: #fff;
            &::placeholder{
                color: #efecefbb;
            }
             &:focus{
                 box-shadow: none;
                 border-color: #fff;
             }

             .btn.btn-yellow.btn-white{
                 &:hover{
                     background: #aaaaaa !important;
                 }
             }
         
            .btn.btn-white{
                 &:hover{
                     background: #aaaaaa !important;
                 }
             }
     }
 }


 .page-header{
     padding: 4rem 0;
     background-image: url('../img/page-header.png');
     background-position: center;
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;

     &::before{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        content: '';
        mix-blend-mode: darken;
        background: linear-gradient(103.37deg, rgba(73, 73, 73, 0.18) 2.41%, rgba(0, 0, 0, 0.548) 51.93%);
     }

     &.about{
        background-image: url('../img/about-us.jpg');
        padding: 5rem 0;
        background-attachment: fixed;
        .title{
            margin-bottom: 1.75rem;
        }
        .lead{
            margin-bottom: 1.5rem;
        }

        &::before{
            
            background: linear-gradient(0deg, rgba(0, 69, 118, 0.75), rgba(0, 69, 118, 0.75));
        }

     }

     .inner{
         .title{
             font-size: 2.66rem;

             @include mediaq($md) {
                 font-size: 1.777rem;
             }
         }
         .lead{
             color: #fff;
         }
     }
 }

 .blog-content{
     padding-bottom: 5rem;
     font-size: 18px;

     p{
         font-size: 1em;
         color: $body;
         margin-bottom: 2em;
         line-height: 1.66666;
     }
     
     h1,h2,h3,h4,h5{
         font-weight: 600;
         color: $dark;
         margin-bottom: 1em;
     }

     blockquote{
        margin: 1.5rem auto;
        background: rgba($yellow, .35);
        padding: 1.5rem 1.5rem;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #112233;
        font-style: italic;
     }
     ul{
         padding-left: 1.5em;
         list-style: square ;
         li{
             font-size: .9em;
             margin-bottom: 0.5em;
         }
     }
 }

 .f-list{
     h4{
         text-transform: uppercase;
         letter-spacing: 1px;
         font-size: .9rem;
         margin-bottom: 1rem;
     }

     ul{
         list-style-type: none;
         padding-left: 0;
         @include mediaq($lg){
             margin-bottom: 2rem;
         }
         li{
             font-size: .95rem;
                display: flex;
                margin-bottom: 0.5rem;
             &::before{
                 content: '-';
                 display: block;
                 padding-right: 0.5rem;
             }
         }
     }
 }

 .head-line{
     max-width: 460px;
     margin: auto;
     position: relative;

     h3{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: #004576 !important;
        padding: .25rem .5rem;
        background: #fff;
        &::before, &::after{
            content: '';
            top: calc(50% - 4px);
            height: 2px;
            background-color: #0077CC;
            position: absolute;
            width: 50%;
            z-index: -1;
        }
   
        &::before{
            right: 0;
        }
        &::after{
            left: 0;
        }
     }

 }