*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6, strong {
    text-transform: none;
    letter-spacing: 0;
    font-family: 'Josefin Sans', sans-serif;
}
ul{
    padding-left: 1.5rem;
}

.py-6{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.bg-light{
    background: rgba($gray, .1) !important;
    border: 0;
}